# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# If using Django settings file for local development
settings_local.py

# Django migrations
**/migrations/**

# If you are using a virtual environment
venv/   
env/

# If you are using macOS
.DS_Store

# If you are using Linux
*.swp

# If you are using Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# If your build process includes a "build" directory
build/

# Python specific
*.py[cod]
*$py.class
__pycache__/
*.so

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy
